#app {
    color: var(--v-text-base);
    background-color: var(--v-background-base);
}

#header {
    background-color: var(--v-background-base);
    box-shadow: 0px 5px 30px var(--v-background-darken1) !important;
}

.small-box {
    box-shadow:  
    -6px -6px 14px var(--v-background-lighten1),
    6px 6px 14px var(--v-background-darken1),
    ;
}

.small-box-inset {
    box-shadow:  
    inset -8px -8px 10px var(--v-background-lighten1),
    inset 8px 8px 10px var(--v-background-darken1),
    ;
}

.floating {
    box-shadow: 10px 10px 30px var(--v-background-darken1);
}

.team1text{
    color: var(--v-primary-darken1) !important;
}
.team2text{
    color: var(--v-secondary-darken1) !important;
}
